body
{
    background: black;
    color: white;
    font-family: serif;
    font-size: larger;
}

hr
{
    background: grey;
}

table
{
    font-family: monospace;
    font-size: larger;
}

p
{
    font-size: larger;
    font-family: serif;
}

form
{
    font-size: larger;
}

a
{
    color: skyblue;
    text-decoration: none;
}

.mono
{
    font-family: monospace;
}

.sans
{
    font-family: sans-serif;
}
